body {
  background: darkgrey;
  height: 0;
}

.picButton {
	-moz-box-shadow:inset 8px -10px 5px #2d5386;
	-webkit-box-shadow:inset 8px -10px 5px #2d5386;
	box-shadow:inset 8px -10px 5px #2d5386;
	background-color:#437AC0;
	color:white;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #19304d;
	display:inline-block;
	font-family:Arial;
	font-size:60px;
	font-weight: bold;
	width: 32vw;
	height: 20vh;
	text-decoration:none;
	background-size:auto 18vh;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 0px;
	margin-bottom: 2px;
	margin-left: 4px;
	padding-left: 25vh;
	text-align: left;
	outline: none;
	line-height: 20vh;
}
